.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  list-style: none;
  text-align: center;
  justify-items: center;
  align-items: center;
  backdrop-filter: blur(10px); /* Tạo hiệu ứng mờ phía sau */
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  height: 300px;
}

.card img {
  width: 250px;
  height: 180px;
}