.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.initial-state {
  margin-top: 140px;
}

.days-forecast {
  margin-top: 20px;
}

.weather-cards {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.weather-cards li {
  flex: 1;
  margin: 10px;
}

.container h2 {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-transform: uppercase;
}

body {
  background-image: url('../images/background-BT.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.EF {
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  color: black;
  margin: 0 0 20px 100px;
}